.info {
    display: flex;
    align-items: center;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-top: 1rem;
    color: white;
}

.overflowDescription {
    overflow-y: scroll;
    max-height: 60%;
}

@media (max-width: 768px) {
    .info {
        font-size: 1.125rem; /* 18px */
    }
}

@media (max-width: 768px) {
    .overflowDescription {
        max-height: 70%;
    }   
}