.btns-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

@media (min-width: 768px) {
  .btns-container {
    flex-direction: row;
  }

  .btns-container button {
    min-width: 160px;
  }
}

.sr-button:hover {
  cursor: not-allowed;
}
