.carousel-container {
  position: relative;
  max-width: 750px;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.carousel .custom-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel .custom-button svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.carousel .custom-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel .custom-button-prev {
  left: 15px;
}

.carousel .custom-button-next {
  right: 15px;
}

