.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    height: 300px;
  }
}

.carousel .custom-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  /* Remove transition */
}

.carousel .custom-button svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

/* Remove hover styles for always visible arrows */
/* .carousel .custom-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */

.carousel .custom-button-prev {
  left: 15px;
}

.carousel .custom-button-next {
  right: 15px;
}

.carouselImg {
  height: "700px";
  width: "auto";

  @media (max-width: 768px) {
    height: 300px;
  }
}
